.admin {
    &_container {
        height: 100dvh;
        display: grid;
        grid-template-areas: 
        "admin_lnb admin_header"
        "admin_lnb admin_cont";
        grid-template-columns: 185px 1fr;
        grid-template-rows: 120px 1fr;
        background-color: #fff;
    }
    &_lnb {
        grid-area: admin_lnb;
        background-color: $c_bg;
        text-align: center;
        padding: 40px 0;
        .logo {
            img {
                height: 40px;
            }
        }
        .gnb {
            margin-top: 40px;
            li + li {
                margin-top: 16px;
            }
            .f_btn._ol {
                width: 100px;
                padding: 0;
            }
        }
    }
    &_header {
        grid-area: admin_header;
        padding: 40px;
        padding-bottom: 0;
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 10;
        .srch {
            width: 440px;
            margin-left: 48px;
            &_result {
                left: 0;
            }
        }
    }
    &_cont {
        grid-area: admin_cont;
        
        padding: 40px;
        overflow: hidden;
    }
    &_inner {
        max-height: 100%;
        overflow-y: auto;
        border-radius: 36px ;
        border: 1px solid $c_line;
        padding: 24px;
        .list_top {
            height: 48px;
            padding: 0 16px;
        }
    }
    &_media_list {
        display: flex;
        flex-wrap: wrap;
        .list_item {
            width: 25%;
            padding: 20px 16px;
        }
    }
    &_f_wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 0 50px;
        .admin_f_sec {
            flex: 1;
        }
        .f_set + .f_set {
            margin-top: 48px;
        }
    }
}
