.btn_tab {
    padding: 0 20px;
    height: 48px;
    line-height: 48px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 14px;
    &.on {
        background-color: $c_key3;
    }
    &:hover {
        background-color: $c_bg;
    }
}





.f_btn {
    text-align: center;
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    &.disabled {
        cursor: not-allowed;
        //pointer-events: none;
    }

    &._blue {
        background-color: $c_key;
        color: #fff;
        transition: background-color .1s ease-in-out;
        &:hover {
            background-color: $c_key_dark;
        }
        &.disabled {
            background-color: $c_disabled_bg;
            border-color: $c_disabled_bg;
            color: $c_disabled;
        }
    }
    &._blue_noBg {
        color: $c_key;
        transition: background-color .1s ease-in-out;
        &:hover {
            background-color: $c_key3;
        }
        &.disabled {
            background-color: $c_disabled_bg;
            border-color: $c_disabled_bg;
            color: $c_disabled;
        }
    }
    &._blue_ol {
        border: 1px solid $c_key;
        color: $c_key;
        transition: background-color .1s ease-in-out;
        &:hover {
            background-color: $c_key3;
        }
        &.disabled {
            background-color: $c_disabled_bg;
            border-color: $c_disabled_bg;
            color: $c_disabled;
        }
    }
    &._ol {
        border: 1px solid $c_line;
        color: $c_font;
        transition: background-color .1s ease-in-out;
        &:hover {
            background-color: $c_grey3;
        }
        &.on {
            background-color: $c_grey3;
        }
        &.disabled {
            background-color: $c_disabled_bg;
            border-color: $c_disabled_bg;
            color: $c_disabled;
        }
    }
    &._noBg {
        color: $c_font;
        transition: background-color .1s ease-in-out;
        &:hover {
            background-color: $c_grey3;
        }
        &.on {
            background-color: $c_grey3;
        }
        &.disabled {
            color: $c_disabled;
            background-color: transparent;
        }
    }

    &._grey_ol {
        color: $c_grey;
        transition: background-color .1s ease-in-out;
        border: 1px solid $c_line;
        &.on {
            background-color: $c_grey3;
        }
    }
    &._grey_noBg {
        color: $c_grey;
        transition: background-color .1s ease-in-out;
        &.on {
            background-color: $c_grey3;
        }
    }

    &.ty_big {
        
        height: 56px;
        //line-height: 56px;
        border-radius: 16px;
        font-weight: 500;
        font-size: 15px;
        padding: 0 20px; 
    }
    &.ty_small {
        height: 33px;
        //line-height: 31px;
        padding: 0 10px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
    }
}