.btn_tab {
    padding: 0 20px;
    height: 48px;
    line-height: 48px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 14px;
    &.on {
        background-color: $c_key3;
    }
    &:hover {
        background-color: $c_bg;
    }
    &2 {
        font-size: $fz_8;
        font-weight: bold;
        color: $c_placeholder;
        &.on {
            color: $c_font;
        }
    }
}

.btn_detail {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../images/btn_detail.svg) no-repeat center center;
}



.f_btn {
    text-align: center;
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    &._blue {
        background-color: $c_key;
        color: #fff;
        transition: background-color .1s ease-in-out;
        &:hover {
            background-color: $c_key_dark;
        }
        &.disabled {
            background-color: $c_disabled_bg;
            border-color: $c_disabled_bg;
            color: #fff;
        }
    }
    &._blue_noBg {
        color: $c_key;
        transition: background-color .1s ease-in-out;
        &:hover {
            background-color: $c_key3;
        }
        &.disabled {
            background-color: $c_disabled_bg;
            border-color: $c_disabled_bg;
            color: $c_disabled;
        }
    }
    &._blue_ol {
        border: 1px solid $c_key;
        color: $c_key;
        transition: background-color .1s ease-in-out;
        &:hover {
            background-color: $c_key3;
        }
        &.disabled {
            background-color: $c_disabled_bg;
            border-color: $c_disabled_bg;
            color: $c_disabled;
        }
    }
    &._ol {
        border: 1px solid $c_line;
        color: $c_font;
        transition: background-color .1s ease-in-out;
        &:hover {
            background-color: $c_grey3;
        }
        &.on {
            background-color: $c_grey3;
        }
        &.disabled {
            background-color: $c_disabled_bg;
            border-color: $c_disabled_bg;
            color: $c_disabled;
        }
    }
    &._noBg {
        color: $c_font;
        transition: background-color .1s ease-in-out;
        &:hover {
            background-color: $c_grey3;
        }
        &.on {
            background-color: $c_grey3;
        }
        &.disabled {
            color: $c_disabled;
            background-color: transparent;
        }
    }

    &._grey_ol {
        color: $c_grey;
        transition: background-color .1s ease-in-out;
        border: 1px solid $c_line;
        &.on {
            background-color: $c_grey3;
        }
    }
    &._grey_noBg {
        color: $c_grey;
        transition: background-color .1s ease-in-out;
        &.on {
            background-color: $c_grey3;
        }
        &:hover {
            background-color: $c_grey3;
        }
    }

    &.ty_big {
        
        height: 56px;
        //line-height: 56px;
        border-radius: 16px;
        font-weight: 500;
        font-size: 16px;
        padding: 0 20px; 
    }
    &.ty_small {
        height: 33px;
        //line-height: 31px;
        padding: 0 10px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        
    }
    &.ty_xsmall {
        height: 28px;
        //line-height: 31px;
        padding: 0 10px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 500;
        
    }
    &.ty_link {
        &::after {
            content: '';
            width: 16px;
            height: 16px;
            background-image: url(../images/btn_arrow.svg);
            background-repeat: no-repeat;
            background-position: center center;
            margin-left: 2px;
            background-size: cover;
        }
    }
    &.ty_next {
        position: relative;
        &::after {
            content: '';
            width: 18px;
            height: 18px;
            background-image: url(../images/btn_next.svg);
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            right: 16px;
            top: 50%;
            margin-top: -9px;
        }
    }
    &.btn_write {
        &::before {
            content: '';
            width: 15px;
            height: 15px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-image: url(../images/ico_write.svg);
            margin-right: 2px;
        }
    }
}

.chk_btn {
    position: relative;
    cursor: pointer;
    .f_btn {
        background-color: $c_disabled_bg;
        color: #fff;
        transition: background-color .1s ease-in-out;
        &:hover {
            background-color: darken($c_disabled_bg,10%) ;
        }
    }
    .inp_hidden {
        display: none;
        &:checked ~ .f_btn {
            background-color: $c_key;   
            &:hover {
                background-color: $c_key;  
            }
        }
    }
}
 