.card {
    &_list {
        display: flex;
        flex-wrap: wrap;
    }
    &_item {
        .img_box {
            padding-top: calc(200%/3);
            position: relative;
            background: url(../images/common/logo_bg.png) no-repeat center center;
            background-color: $c_bg_grey;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                object-fit: cover;
            }
            .tag_box {
                display: flex;
                gap: 5px;
                position: absolute;
                z-index: 10;
                left: 5px;
                top: 5px;
            }
            
        }
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(#000, .15);
        transition: all .2s ease;
        
        &_info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 11px;
            margin-bottom: 8px;
            color: #666;
            flex-wrap: wrap;
            i {
                margin-right: 4px;
                color: #222;
                font-size: 12px;
            }
        }
        .txt_box {
            padding:10px 10px 12px;
            background-color: #fff;
            .tit {
                display: block;
                font-size: 12px;
                //font-weight: 500;
            }
            .desc {
                
                display: block;
                font-size: 12px;
                padding-top: 5px;
                margin-top: 5px;
                box-sizing: content-box;
                border-top: 1px dotted $c_line;
                color: #666;
            }
        }
    }
}


.card2 {
    &_wrap {
        background-color: $c_bg_grey2;
        padding: 10px 0;
        border-radius: 10px;
        border: 1px solid $c_line;
        &_top {
            padding: 0 20px;
            
            display: flex;
           
            align-items: flex-end;
            margin-bottom: 6px;
        }
    }
   
    &_list {
        padding: 0 10px;
    
        border-radius: 10px;
        font-size: 12px;
        line-height: 1.5;
        overflow-y: auto;
    }
    &_item {
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 4px 4px rgba(#000, .02);
        padding: 10px;
        & + & {
            margin-top: 10px;
        }
        &.chk_row {
            cursor: pointer;
        }
        &:hover {
            background-color: rgb(255, 255, 246);
        }
        &.on {
            background-color: rgb(254, 254, 233);
        }
    }
    &_inner {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    &_row {
        &.ty_flex {
            display: flex;
            flex-wrap: wrap;
            gap: 2px 8px;
            align-items: center;
        }
        .list_sepBar {
            .list_item {
                padding-right: 9px;
                margin-right: 8px;
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                }
                &::after {
                    background-color: $c_lightGrey;
                    height: 12px;
                    margin-top: -5px;
                }
            }
        }
        &.bdT {
            border-top: 1px dashed $c_line;
            padding-top: 4px;
            margin-top: 2px;
        }
        .btn_t_link {
            text-decoration: none;

            font-weight: bold;
            &.fwM {
                font-weight: 500;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.chk_wrap {
    
    .chk_all_btn {
        display: inline-flex;
        
        align-items: center;
        gap: 5px;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
    }
    
}

