.libCard {
    &_list {
        display: flex;
        
        @include flex_col(3 ,32px, 32px);
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    &_item {
        border: 1px solid $c_line;
        border-radius: 24px;
        padding: 24px;
        min-width: 440px;
        cursor: pointer;
        @at-root .modal & {
            cursor: auto;
            min-width: auto;
        }
    }
    &_top {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        .ci_box {
            width: 25px;
            height: 25px;
            border-radius: 6px;
            overflow: hidden;
            margin-right: 12px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .txt_box {
            display: flex;
            align-items: center;
        }

        @at-root .modal & {
            margin-bottom: 24px;
            .ci_box {
                width: 48px;
                height: 48px;
                border-radius: 14px;
                margin-right: 8px;
            }
            .txt_box {
                display: block;
                * {
                    display: block;
                }
            }
        }
    }
    &_date {
        margin-bottom: 12px;
        @at-root .modal & {
            margin-bottom: 36px;
        }
    }
    &_thumb {
        padding-top: 47.54%;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @at-root .modal & {
            padding-top: 0;
            
            img {
                position: relative;
                max-height: 400px;
            }
        }
    }
    &_bot {
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &_btns {
        display: flex;
        column-gap: 20px;
        @at-root .modal & {
            width: 100%;
            margin-top: 36px;
        }
    }
    &_btn {
        display: flex;
        align-items: center;
        column-gap: 4px;
        font-size: $fz_3;
        .ico {
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            &.ico_like {
                background-image: url(../images/ico_like.svg);
            }
            &.ico_save {
                background-image: url(../images/ico_save.svg);
            }
        }
        &.on {
            .ico {
                &.ico_like {
                    background-image: url(../images/ico_like_on.svg);
                }
                &.ico_save {
                    background-image: url(../images/ico_save_on.svg);
                }
            }
        }
    }
    &_desc {
        font-size: $fz_2;
        margin-top: 24px;
        width: 100%;
    }
}

