.footer {
    padding: 80px 32px;
    background-color: $c_font;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $c_grey;
    @include mobile {
        display: block;
        &_logo {
            margin-top: 100px;
        }
    }
    &_tit {
        height: 25px;
        margin-bottom: 30px;
    }
    &_info {
        & + & {
            margin-top: 30px;
        }
        &_item {
            font-size: 12px;
            
            position: relative;
            &::after {
                content: '|';
                margin: 0 10px;
            }
            &:last-child::after {
                display: none;
            }
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &_set {
            display: flex;
            flex-wrap: wrap;
            & + & {
                margin-top: 10px;
            }
        }
    }
}