.header {
    position: sticky;
    flex-shrink: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #fff;
    //box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    padding: 0 32px;
    //border-bottom: 1px solid $c_line;
    @include mobile {
        height: 80px;
    }
    .logo {
        flex-shrink: 0;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 40px;
            }
        }
    }
    .nav {
        display: flex;
        gap: 0 8px;
        margin-left: 50px;
        &_btn {
            padding: 0 10px;
            line-height: 33px;
            font-size: 14px;
            font-weight: 500;
        }
        @include tablet {
            display: none;
        }
    }
    .srch {
        margin-left: 50px;  
        margin-right: 50px; 
        &_result {
            display: none;
        }
        @include tablet {
            display: none;
        }
    }
    .user {
        margin-left: auto;
        position: relative;
        &.on {
            .user_cont {
                display: block;
            }
        }
        &_ico {
            display: block;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-image: url(../images/ico_user.svg);
        }
        &_cont {
            display: none;
            position: absolute;
            right: 0;
            top: calc(100% + 8px);
            width: 320px;
            border-radius: 24px;
            padding: 8px;
            background-color: #fff;
            @include dropShadow;
        }
        &_info {
            padding: 12px;
            margin-bottom: 8px;
            padding-bottom: 20px;
            border-bottom: 1px solid $c_line;
        }
        &_menu {
            
            &_btn {
                display: block;
                font-size: $fz_4;
                line-height: 49px;
                padding: 0 12px;
                border-radius: 16px;
                overflow: hidden;
            }
        }
    }
}


  