.join {
    &_info {
        padding: 50px 20px 50px;
        text-align: center;
        &_tit {
            margin-bottom: 40px;
            .tit {
                font-size: 24px;
                font-weight: bold;
                img {
                    height: 24px;
                    vertical-align: middle;
                }
            }
            .desc {
                font-size: 14px;
                margin-top: 15px;
                font-weight: 500;
            }
        }
        &_step {
            display: flex;
            
            margin: 0 auto;
            text-align: center;
            &_item {
                flex: 1;
                .ico_box {
                    position: relative;
                }
                i {
                    font-size: 40px;
                    &.i-arrow {
                        font-size: 24px;
                        position: absolute;
                        right: -12px;
                        top: 50%;
                        margin-top: -12px;
                        width: 24px;   
                        opacity: 0.4;
                    }
                }
                .txt_box {
                    font-size: 14px;
                    line-height: 1.5;
                    margin-top: 10px;
                    font-weight: 500;
                }
            }
        }
        &_txt {
            
            display: flex;
            flex-direction: column;
            gap: 6px 0;
            text-align: left;
            font-size: 14px;
            line-height: 1.5;
            p {
                display: flex;
                align-items: flex-start;
                i {
                    margin-top: 0.26em;
                    margin-right: 4px;
                }
            }
            
        }
        &_bot {
            margin-top: 40px;
            border-radius: 10px;
            padding: 20px;
            color: #fff;
            //border-top: 1px solid rgba($c_key , .4);
            background-color: $c_solidGrey;
        }
        &_btn {
            
            margin-top: 40px;
            display: flex;
            gap: 10px;
            .f_btn {
                flex: 1;
            }
        }
        &_cs {
            max-width: 500px;
            margin: 0 auto;
            text-align: left;
            font-size: 14px;
            line-height: 1.5;
            display: flex;
            
            .tit {
                margin-right: 20px;
            }
            .txt_box {
                display: flex;
                flex-direction: column;
                gap: 6px 0;
                p {
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    i {
                        margin-top: 0.26em;
                    }
                }
            }
         
        }
    }
    &_form {
        display: block;
        text-align: left;
        &_tit {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .tit {
                font-size: 16px;
                font-weight: bold;
            }
            .tip {
                font-size: 12px;
            }
        }
       
        &_sec {
            margin-top: 20px;
        }
        
        .msg_required {
            text-align: right;
            font-size: 12px;
            height: 1px;
            transform: translateY(50px);
        }
    
        
        &_item {
            .tit {
                display: block;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 6px;
            }
            & + & {
                margin-top: 20px;
            }
        }

        .b_num_wrap {
            display: flex;
            align-items: center;
            .f_input {
                text-align: center;
                
            }
            .dash {
                margin: 0 4px;
                font-size: 16px;
            }
            .b_num1 {
               width: 60px;
            }
            .b_num2 {
                width: 50px;
            }
            .b_num3 {
                width: 80px;
            }
            .f_btn {
                margin-left: 10px;
            }
        }
        .b_num_result {
            height: 140px;
            overflow-y: auto;
            border: 1px solid $c_line;
            border-radius: 6px;
            position: relative;
            .no_result_box {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-size: 12px;
                text-align: center;
                color: #666;
                padding: 10px;
                p {
                    margin-top: 10px;
                }
                i {
                    font-size: 36px;
                }
            }
        }
        .b_num {
            &_list {
                padding: 6px 0;
            }
            &_label {
                display: block;
                cursor: pointer;
                position: relative;
                input {
                    position: absolute;
                    opacity: 0;
                    z-index: -999;
                    &:checked ~ .b_num_name {
                        color: $c_key;
                        background-color: rgba($c_key,.1);
                        font-weight: 500;
                    }
                } 
            }
            &_name {
                line-height: 26px;
                padding: 0 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                &:hover {
                    background-color: rgba($c_key,.1);
                }
            }
        }
        
        
        &_agree {
            margin-top: 30px;
            padding: 12px;
            border-radius: 6px;
            background-color: $c_bg_grey2;
            border: 1px solid $c_line;
            &_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                line-height: 22px;
                label {
                    user-select: none; 
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    input {
                        margin-right: 6px;
                    }
                }
                .f_btn {
                    width: 70px;
                }
                & + .join_form_agree_item {
                    margin-top: 10px;
                }
            }
        }
        &_btns {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            gap: 10px;
            .f_btn {
                flex: 1;
            }
        }
        .f_input_box {
            display: flex;
            .f_btn {
                flex-shrink: 0;
                margin-left: 10px;
            }
        }
        .msg_feedback {
            font-size: 12px;
            line-height: 1.5;
            margin-top: 6px;
            &.ty_true {
                color: rgb(55, 107, 253);
            }
            &.ty_false {
                color: #f00;
            }
        }
    }
    &_wrap {
       text-align: center;
        padding: 50px 16px 50px;
    }
    &_box {
        
        &_top {
            margin-bottom: 30px;
            .img_box {
                img {
                    height: 30px;
                }
            }
            .tit {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                margin-top: 10px;
                color: $c_key;
            }
        }
        &_result {
            .ico_box {
                width: 240px;
                height: 240px;
                margin: 0 auto;
            }
        }
    }
    

    &_btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        li {
            &::before {
                content: '';
                display: inline-block;
                width: 1px;
                height: 12px;
                background-color: #999;
                margin: 0 10px;
            }
            &:first-child {
                &::before {
                    display: none;
                }
            }
        }
        a {
            color: #999;
            font-size: 14px;
            line-height: 1.6;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &_bot {
        margin-top: 30px;
        .f_btn {
            margin-bottom: 10px;
        }
        .msg_tel {
            color: #999;
        }
    }
    &_info_msg {

        margin-top: 15px;
        color: #646464;
        display: flex;

        justify-content: center;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            text-align: left;
            align-self: center;
        }
        &::before {
            content: '';
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            background: url(../images/common/ico_info2.svg);
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.4;
            margin-right: 6px;
        }
    }
    &_tab {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        
        &_item {
            text-align: center;
            flex: 1;
            height: 50px;
            color: $c_key;
            border: 1px solid $c_key;
            line-height: 48px;
            box-sizing: border-box;
            font-weight: 500;
            font-size: 16px;
            &.on {
                background-color: $c_key;
                color: #fff;
            }
        }
    }
    &_result {
        &_msg {
            font-size: 18px;
            line-height: 1.6;
        }
        .f_btn {
            margin-top: 40px;
        }
    }
}

.address_set {
    display: flex;
    .f_btn {
        margin-left: 6px;
    }
    & + .address_set {
        margin-top: 6px;
    }
    .f_input.ty_address_num {
        width: 120px;
    }
}