#container {
    padding: 0 32px;
    padding-bottom: 80px;
    @include mobile {
        padding: 0 16px;
    }
}

.sec {
    margin-top: 48px;
}

.result_box {
    display: flex;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_txt {
        margin-top: 16px;
    }
    &_btn {
        margin-top: 24px;
    }
}

.sorting_area {
    @include mobile {
        &_right {
            width: 100%;
            margin-top: 40px;
        }
    }
}