#container {
    padding: 0 32px;
    padding-bottom: 60px;
    &.ty_f {
        padding: 60px 16px;
        width: 100%;
        max-width: 432px;
        margin: 0 auto;
        min-height: calc(100dvh - 90px);
        display: flex;
        //align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    @include mobile {
        padding: 0 16px;
    }
}

.sec {
    margin-top: 48px;
}

.result_box {
    display: flex;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_txt {
        margin-top: 16px;
    }
    &_btn {
        margin-top: 24px;
    }
}

.sorting_area {
    @include mobile {
        &_right {
            width: 100%;
            margin-top: 40px;
        }
    }
}