
@include mobile {
    .m_hide {
        display: none !important;
    }
}

#container {
    padding: 0 32px;
    padding-bottom: 60px;
    &.ty_f {
        padding: 60px 16px;
        width: 100%;
        max-width: 432px;
        margin: 0 auto;
        min-height: calc(100dvh - 90px);
        display: flex;
        //align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    @include mobile {
        padding: 0 16px;
        padding-bottom: 60px;
    }
}
.center_wrap {
    min-height: calc(100dvh - 150px);
    display: flex;
    //align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec {
    margin-top: 48px;
    &.mt0 {
        margin-top: 0 !important;
    }
}

.result_box {
    display: flex;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_txt {
        margin-top: 16px;
    }
    &_btn {
        margin-top: 24px;
    }
}

.sorting_area {
    @include mobile {
        &_right {
            width: 100%;
            margin-top: 40px;
        }
    }
}

.sign_in {
    &_sep {
        text-align: center;
        position: relative;
        margin: 48px 0 32px;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $c_line;
            left: 0;
            top: 50%;
        }
        span {
            display: inline-block;
            position: relative;
            background-color: #fff;
            z-index: 1;
            vertical-align: top;
            font-size: 15px;
            color: $c_grey;
            padding: 0 10px;
            line-height: 25px;
        }
    }
}

.bar_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -16px;
    gap: 10px 0;
    .bar_item {
        padding: 0 16px;
        position: relative;
        &:last-child {
            padding-right: 0;
            &::after {
                display: none;
            }
        }
        &::after {
            content: '';
            width: 1px;
            height: 16px;
            background-color: $c_line;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -8px;
        }
    }
}

.bd_box {
    border: 1px solid $c_line;
    padding: 24px 32px;
    overflow: hidden;
    @include mobile {
        padding: 16px 18px;
    }
}
.bd_box2 {
    border: 1px solid $c_line;
    padding: 16px 24px;
    overflow: hidden;
    @include mobile {
        padding: 12px 18px;
    }
}
.bd_box3 {
    border: 1px solid $c_line;
    padding: 24px;
    overflow: hidden;
    @include mobile {
        padding: 18px;
    }
}

.blur_layer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

.info_box {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fz_5;
    background-color: $c_key3;
    border-radius: 16px;
    height: 57px;
    &_ico {
       width: 24px;
       height: 24px;
       background-image: url(../images/ico_info.svg);
       margin-right: 8px; 
       background-repeat: no-repeat;
       background-position: center center;
    }
}

.inner {
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
    padding-top: 100px;
    &.pt0{
        padding-top: 0;
    }
    &.pt60{
        padding-top: 60px;
    }
    &_sec {
        & + & {
            margin-top: 36px;
        }
    }
} 
.review_step {
    margin-bottom: 36px;
}
.benefit_item {
    display: flex;
    align-items: center;
    font-size: $fz_6;
    font-weight: 500;
    & + & {
        margin-top: 16px;
    }
    &::before {
        content: '';
        width: 1em;
        height: 1em;
        background: url(../images/ico_check_circle.svg) no-repeat center center;
        background-size: cover;
        margin-right: 0.42em;
    }
}

.bill {
    &_sec {
        & + & {
            margin-top: 16px;
            padding-top: 16px;
            border-top: 1px solid $c_line;
        }
    }
    &_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 28px;
        & + & {
            margin-top: 16px;
        }
        dt {
            font-size: $fz_4;
            color: $c_darkGrey;
            font-weight: 500;
        }
        dd {
            font-size: $fz_5;
            font-weight: 600;
            display: flex;
            align-items: center;
        }
    }
}