.mediaSet {
    display: flex;
    align-items: center;
    //max-width:400px;
    &_num {
        font-size: 14px;
        min-width: 20px;
        text-align: center;
        color: $c_grey;
        margin-right: 12px;
    }
    &_ico {
        width: 40px;
        height: 40px;
        border-radius: 16px;
        flex-shrink: 0;
        background-color: #eee;
        overflow: hidden;
        margin-right: 15px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &_txt {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex: 1;
        min-width: 0;
        .tit {
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            line-height: 1.5;
            &.ty2 {
                font-size: 13px;
            }
        }
        .desc {
            margin-top: 2px;
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            line-height: 1.5;
            color: $c_grey;
        }
    }
    &_tag {
        margin-left: 15px;
        display: flex;
        flex-shrink: 0;
        gap: 0 8px;
        
    }
}