.mediaSet {
    display: flex;
    align-items: center;
    //max-width:400px;
    &_num {
        font-size: 14px;
        min-width: 20px;
        text-align: center;
        color: $c_grey;
        margin-right: 12px;
    }
    &_ico {
        width: 40px;
        height: 40px;
        border-radius: 12px;
        flex-shrink: 0;
        background-color: #eee;
        overflow: hidden;
        margin-right: 15px;
        img {
            width: 100%;
            height: 100%;
        }
        @at-root .mediaSet.ty_big  & {
            width: 64px;
            height: 64px;
        }
    }
    &_txt {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex: 1;
        min-width: 0;
        .tit {
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            line-height: 1.5;
            font-weight: 700;
            &.ty2 {
                font-size: 13px;
            }
            @at-root .mediaSet.ty_big  & {
                font-size: 24px;
            }
        }
        .desc {
            margin-top: 2px;
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            line-height: 1.5;
            color: $c_grey;
            font-weight: 400;
            @at-root .mediaSet.ty_big  & {
                font-size: 15px;
            }
        }
    }
    &_tag {
        margin-left: 15px;
        display: flex;
        flex-shrink: 0;
        gap: 0 8px;
        
    }
}

.media {

    &_scroll_trigger {
        position: absolute;
        &1 {
            top: -152px;
        }
        &2, &3, &4 {
            top: -120px;
        }
    }
    &_top {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 27px 0 32px;
        gap: 30px 16px;
        width: 100%;
        &_info {
            .info_item {
                display: flex;
                width: 260px;
                padding: 17.5px 24px;
                justify-content: space-between;
                align-items: center;
                background-color: $c_grey3;
                border-radius: 16px;
                .tit {
                    font-size: $fz_5;
                    color: $c_darkGrey;
                    font-weight: 500;
                }
                .count {
                    font-size: $fz_6;
                }
            }
        }
    }
  
    &_tab {
        position: sticky;
        left: 0;
        top: 90px;
        width: 100%;
        background-color: #fff;
        z-index: 999;
        .tit_tab.ty_big {
            margin-bottom: 0;
        }
        @include mobile {
            top: 80px;
        }
    }
    &_sec {
        padding-top: 80px;
        position: relative;
        &_wrap {
            position: relative;
            display: flex;
            gap: 0 64px;
        }
    }
    &_info {
        width: 27%;
        display: flex;
        flex-direction: column;
        padding-top: 32px;
        &_cont {
            flex: 1;
        }
        .info_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: $fz_3;
            &.bd_top {
                padding-top: 19px;
                border-top: 1px solid $c_line;
            }
            & + .info_item {
                margin-top: 19px;
            }
            dt {
                color: $c_grey;
                font-weight: 700;
            }
            dd {
                display: flex;
                align-items: center;
                font-size: $fz_4;
            }
        }
    }
    
    &_graph {
        width: calc(73% - 64px);
        display: flex;
        flex-direction: column;
        padding-top: 32px;
        &_cont {
            flex: 1;
        }
        &_cont {
            display: flex;
            align-items: center;
            .chart {
                height: 100%;
                &.ty_pie {
                    width: 40%;
                }
                &.ty_col {
                    width: 60%;
                }
            }
        }
        
    }
}

.review_list {
    .review_item {
        padding: 24px 0;
        border-top: 1px solid $c_line;
        & + .review_item {
            margin-top: 16px;
        }
        
    }
}

.review_score {
    display: inline-flex;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    background-color: $c_bg;
    @include tablet {
        display: block;
    }
    .star_rating_box {
        padding-right: 32px;
        margin-right: 32px;
        position: relative;
        &::after {
            content: '';
            width: 1px;
            height: 16px;
            background-color: $c_line;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -8px;
        }
        @include tablet {
            padding-bottom: 16px;
            margin-bottom: 16px;
            padding-right: 0;
            margin-right: 0;
            &::after {
                display: none;
            }
            border-bottom: 1px solid $c_line;
        }
    }
    &_detail {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        
        .detail_item {
            width: 180px;
            @include mobile {
                width: 100%;
            }
            .tit {
                display: block;
                font-size: $fz_4;
                color: $c_grey;
                font-weight: 400;
                line-height: 25px;
            }
            .star_rating {
                margin-top: 4px;
            }
        }
    }

}