
.select-box {
    position: relative;
    background-color: $c_bg;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 99;
    &::after {
        content: '';
        width: 18px;
        height: 18px;
        background-image: url(../images/select_arrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        flex-shrink: 0;
    }
    .options {
        display: none;
    }
    &.on {
        z-index: 100;
        .options {
            display: block;
        }
        &::after {
            transform: rotate(180deg);
        }
    }
    
    .select-input {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: $c_bg;
        flex: 1;
        font-size: 12px;
        &:focus {
            border-color: none;
            background-color: $c_bg;
        }
    }
    &.ty_small {
        height: 34px;   
        border-radius: 8px;
        padding: 0 12px;
        
        
        .options {
            position: absolute;
            top: calc(100% + 8px);
            left: 0;
            min-width: 100%;
            background-color: #fff;
            padding: 8px;
            box-sizing: border-box;
            box-shadow: 2px 8px 20px rgba(#000,0.08) ;
            
            border-radius: 8px;
            li {
                padding: 0 8px;
                line-height: 26px;
                border-radius: 8px;
                cursor: pointer;
                &:hover {
                    background-color: $c_bg;
                }
            }
        }
    }
    &.ty_big {
        height: 56px;   
        border-radius: 16px;
        padding: 0 20px;
        .select-input {
            font-size: 14px;
        }
      
        .options {
            position: absolute;
            top: calc(100% + 8px);
            left: 0;
            min-width: 100%;
            background-color: #fff;
            
            box-sizing: border-box;
            box-shadow: 2px 8px 20px rgba(#000,0.08) ;
            
            border-radius: 16px;
            li {
                font-size: 14px;
                &.option {
                    padding: 0 20px;
                }
                line-height: 56px;
                cursor: pointer;
                border-top: 1px solid $c_line;
                &:first-of-type {
                    border-top: none;
                }
                &:hover {
                    background-color: $c_bg;
                }
            }
        }
        
        .f_chk {
            display: flex;
            width: 100%;
            padding: 0 20px;
            &_txt {
                font-size: 14px;
            }
        }
    }
    
    
}
  