.skeleton_item {
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
        //border-radius: 1rem;
        z-index: 10;
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: skeleton_load 1s infinite;
        
    }
    &.load {
        &::before {
            visibility: hidden;
            opacity: 0;
            transition: all .15s ease-in-out;
        }
        
    }
}

@keyframes skeleton_load {
    100% {
        background-position: -100% 0;
    }
}