.skeleton_item {
    position: relative;
    overflow: hidden;
  
    &::before {
        content: '';
        width: calc(100% + 4px) ;
        height: calc(100% + 2px) ;
        position: absolute;
        left: -2px;
        top: -1px;
        background: linear-gradient(120deg, #F4F4F4 30%, #f9f9f9 38%, #f9f9f9 40%, #F4F4F4 48%);
        //border-radius: 1rem;
        z-index: 10;
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: skeleton_load 1s infinite;
        border-radius: 12px;
    }
    &.load {
        &::before {
            visibility: hidden;
            opacity: 0;
            transition: all .15s ease-in-out;
        }
        
    }
}

.only_membership {
    position: relative;
    overflow: hidden;
  
    &::after {
        content: '';
        width: calc(100% + 4px) ;
        height: calc(100% + 2px) ;
        position: absolute;
        left: -2px;
        top: -1px;
        background: #F4F4F4;
        //border-radius: 1rem;
        z-index: 9;
        background-size: 200% 100%;
        background-position: 100% 0;
        border-radius: 12px;
    }
}


@keyframes skeleton_load {
    100% {
        background-position: -100% 0;
    }
}