.srch {
    position: relative;
    border-radius: 15px;
    height: 50px;
    
    box-sizing: border-box;
    width: 560px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 8px;

    
    .select-box {
        width: 80px;
        flex-shrink: 0;
        .options {
            top: calc(100% + 16px);
        }
    }
    .line {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 1px solid $c_line;
        border-radius: 15px;
        box-sizing: border-box;
        z-index: -1;
    }
    &_input {
        flex: 1;
        height: 34px;
        font-size: 14px;
        padding: 0 12px;
        &:focus ~ .line {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border: 2px solid $c_key2;
        }
    }
    &_btn {
        width: 24px;
        height: 24px;
        background-image: url(../images/ico_srch.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    &_result {
        display: none;
        position: absolute;
        left: 100px;
        right: 0;
        top: calc(100% + 8px);
        background-color: #fff;
        box-shadow: 2px 8px 20px rgba(#000,.08);
        padding: 8px;
        border-radius: 24px;
        &.on {
            display: block;
        }
    }
    &_list {
        .mediaSet {
            max-width: none;
            width: 100%;
            padding: 12px;
            border-radius: 16px;
            cursor: pointer;
            &:hover {
                background-color: $c_bg;
            }
            &_txt {
                .tit {
                    font-size: 13px;
                    font-weight: bold;
                }
                .desc {
                    font-size: 12px;
                }
            }
        }
    }
}