.starSet {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0 2px;
    &_count {
        font-size: 15px;
    }
    &_review {
        color: $c_placehoder;
        font-size: 13px;
    }
}

.star_rating {
    display: inline-flex;
    gap: 0 4px;
    &_item {
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/star_bg.svg);
        position: relative;
        overflow: hidden;
    }
    &_inner {
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../images/star.svg);
        height: 100%;
        //width: 100%;
        background-size: 18px 18px;
        //background-size: cover;
        background-repeat: no-repeat;
        &.ty_black {
            background-image: url(../images/star_black.svg);
            background-size: 12px 12px;
        }
    }
    &.ty_small {
        gap: 0 1px;
        .star_rating_item {
            width: 12px;
            height: 12px;
        }

    }
}

.starChk {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    input {
        display: none;
        &:checked ~ .starChk_label {
            .star_path {
                fill: #FFC700;
            }
        }
        // &:not(:checked) ~ .starChk_label:hover,
        // &:not(:checked) ~ .starChk_label:hover ~ .starChk_label {
        //     .star_path {
        //         fill: darken(#FFC700, 30%) ;  
        //         transform: scale(1.06);
        //     }
        // }
    }
    &_label {
        line-height: 0;
        padding: 0 2px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .star_path {
            transition: all .15s ease-in-out;
            transform-origin: center center;
        }
        &:hover {
            .star_path {
                fill: lighten(#FFC700, 30%) ;
                transform: scale(1.06);  
            } 
            & ~ .starChk_label {
                .star_path {
                    fill: lighten(#FFC700, 30%);
                    transform: scale(1.1);
                }
            }
        }
        .star_path {
            fill: #BABABA;
        }
    }
}

.reviewChk {
    &_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & + & {
            margin-top: 36px;
        }
        dt {
            font-weight: 500;
        }
        dt, dd {
            display: flex;
            align-items: center;
        }
    }
}