.tag {
    display: inline-block;
    padding: 0 8px;
    line-height: 30px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;

    &.ty_small {
        line-height: 16px;
        border-radius: 4px;
        padding: 0 4px;
        font-size: 10px;
    }
}