.tit {
    &_set {
        &_1 {
            margin-bottom: 24px;
        }
        &_2 {
            margin-bottom: 16px;
        }
    }
    &_1 {
        font-size: 24px;
    }
    &_2 {
        font-size: 18px;
    }
}