// Breakpoints
$breakpoint-m: 768px;
$breakpoint-t: 1024px;
$breakpoint-pc_h: 1460px;
$breakpoint-pc_bm: 1800px;


// mobile width
$m-width : 600px;





/* colors */
$colors: (
    _key: #3F36F4,
    _key_dark : #0B02B8,
    _key2: #AFB2FD,
    _key3: #EAEBFE,
    _line: #E1E1E1,
    _bg: #F9F9F9,
    _title: #191919,
    _font: #191919,
    _grey: #8C8C8C,
    _dakrGrey: #555,
    _grey3: #F4F4F4,
    _grey4: #F9F9F9,
    _disabled: #A3A3A3,
    _disabled_bg: #e2e2e2,
    _desc: #555,
    _red: #FF4E4E,
    _red2_l: #FFF2F2,
    _orange: #FF9900,
    _orange_l: #FFF1DC,
    _yellow: #FFC700,
    _green: #17993A,
    _green_l: #EFFBF2,
    _blue: #408CFF,
    _blue_l: #F2F7FF,
    _dim: rgba(#000,.3),
    _placehoder: #BABABA,
);


$tag_color: (
    _key : #3F36F4,
    _red : #FF4E4E,
    _grey: #8C8C8C,
    _sns: #8C8C8C,
    _subscribe: #3F36F4,
    _economy : #124EA7,
    _travel : #FF6E2F,
    _university : #FF3333,
    _restaurant : #FB56EB,
    _mobility : #44A5FF,
    _development : #12A79E,
    _beauty : #E89900,
    _worker : #9128E4,
    _business : #19A712,
    _fashion : #FF2D78,
    _sports : #82AF00,
    _health : #00BE85,
    _update : #FF4E4E
);

$tag_color_bg: (
    _key: #ECEBFE,
    _red:#FFF2F2,
    _grey:#f4f4f4,
    _sns:#f4f4f4,
    _subscribe: #ECEBFE,
    _economy : #E2F4F6,
    _travel : #FFF1EB,
    _university : #FFECEC,
    _restaurant : #FFE9FD,
    _mobility : #E4F2FF,
    _development : #EBFBFA,
    _beauty : #FFF3DB,
    _worker : #F6EAFF,
    _business : #E3F6E2,
    _fashion : #FFE8F0,
    _sports : #F4FFD6,
    _health : #E9FFF9,
    _update : #FFF2F2
);

$c_key : map-get($colors, _key);
$c_key_dark : map-get($colors, _key_dark);
$c_key2 : map-get($colors, _key2);
$c_key3 : map-get($colors, _key3);
$c_line : map-get($colors, _line);
$c_bg : map-get($colors, _bg);
$c_grey : map-get($colors, _grey);
$c_grey2 : map-get($colors, _grey2);
$c_grey3 : map-get($colors, _grey3);
$c_grey4 : map-get($colors, _grey4);
$c_blue : map-get($colors, _blue);
$c_red : map-get($colors, _red);
$c_green : map-get($colors, _green);
$c_yellow : map-get($colors, _yellow);
$c_title : map-get($colors, _title);
$c_font : map-get($colors, _font);
$c_desc : map-get($colors, _desc);
$c_placehoder : map-get($colors, _placehoder);
$c_disabled : map-get($colors, _disabled);
$c_disabled_bg : map-get($colors, _disabled_bg);
$fz: (
    _1: 12px, 
    _2: 13px, 
    _3: 14px, 
    _4: 15px,
    _5: 16px, 
    _6: 18px, 
    _7: 20px, 
    _8: 24px
);
$fz_1 : map-get($fz, _1);
$fz_2 : map-get($fz, _2);
$fz_3 : map-get($fz, _3);
$fz_4 : map-get($fz, _4);
$fz_5 : map-get($fz, _5);
$fz_6 : map-get($fz, _6);
$fz_7 : map-get($fz, _7);
$fz_8 : map-get($fz, _8);





@each $key, $color in $tag_color {
    .tag {
        &.#{$key} {
            color: $color
        }
    }
}
@each $key, $color in $tag_color_bg {
    .tag {
        &.#{$key} {
            background-color: $color;
        }
    }
}




// colors
@each $key, $color in $colors {
    .fc#{$key} {
        color: $color;
    }
    .bg#{$key} {
        background-color: $color;
    }
    .bd#{$key} {
        border-color: $color;
    }
}
@each $key, $size in $fz {
    .fz#{$key} {
        font-size: $size;
    }
}






//Font
$font: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;



//innerBox
$inner: 1280px;




@for $i from 1 through 100 {
    $w : 10*$i;
    .w_#{$w} {
        width: #{$w}px;
        max-width: 100%;
    }
    .mw_#{$w} {
        width: #{$w}px;
        max-width: 100%;
    }
    .h_#{$w} {
        height: #{$w}px;
    
    }
}

@for $i from 10 through 30 {
    .fz_#{$i} {
        font-size: #{$i}px;
    }
}

@for $i from 1 through 5 {
    $w : 5*$i;
    .w_#{$w} {
        width: #{$w}px
    }
}


@for $i from 1 through 100 {
    $w : 10*$i;
    
    .w_#{$w} {
        width: #{$w}px
    }
}

@for $i from 1 through 30 {
    $z : 5*$i;
    .mt#{$i} {
        margin-top: #{$i}px;
    }
    .ml#{$i} {
        margin-left: #{$i}px
    }
    .mr#{$i} {
        margin-right: #{$i}px
    }
    .mb#{$i} {
        margin-bottom: #{$i}px
    }

    .pt#{$i} {
        padding-top: #{$i}px;
    }
    .pl#{$i} {
        padding-left: #{$i}px
    }
    .pr#{$i} {
        padding-right: #{$i}px
    }
    .pb#{$i} {
        padding-bottom: #{$i}px
    }
    .pa#{$i} {
        padding: #{$i}px
    }
    .bd_radius#{$i} {
        border-radius: #{$i}px
    }
    
    .mt#{$z} {
        margin-top: #{$z}px;
    }
    .ml#{$z} {
        margin-left: #{$z}px
    }
    .mr#{$z} {
        margin-right: #{$z}px
    }
    .mb#{$z} {
        margin-bottom: #{$z}px
    }

    .pt#{$z} {
        padding-top: #{$z}px;
    }
    .pl#{$z} {
        padding-left: #{$z}px
    }
    .pr#{$z} {
        padding-right: #{$z}px
    }
    .pb#{$z} {
        padding-bottom: #{$z}px
    }
    .pa#{$z} {
        padding: #{$z}px
    }
    .bd_radius#{$z} {
        border-radius: #{$z}px
    }
}
@mixin list_col($col ,$gapX:12px, $gapY:20px){
    .col_#{$col} {
        gap: $gapY $gapX;
        .col_item {
            width: calc((100% / $col) - ((($col - 1)/$col)*$gapX));
        }
    }
}
@for $i from 1 through 10 {
    @include list_col($i ,12px, 20px);
}
@mixin flex_col($col ,$gapX, $gapY){
    display: flex;
    flex-wrap: wrap;
    gap: $gapY $gapX;
    .col_item {
        width: calc((100% / $col) - ((($col - 1)/$col)*$gapX));
    }
} 



@mixin flex_box($gap:10px, $wrap:wrap, $align:null ,$justify:null){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
    flex-wrap: $wrap;
}



.d_flex {
    display: flex;
    @for $i from 1 through 30 {
        &._gap#{$i} {
            gap : #{$i}px
        } 
        &._gapX#{$i} {
            column-gap : #{$i}px;
        } 
        &._gapY#{$i} {
            row-gap : #{$i}px
        } 
    } 
    &.fw_w {
        flex-wrap: wrap;
    }
    &.ai_t {
        align-items: flex-start;
    }
    &.ai_c {
        align-items: center;
    }
    &.ai_b {
        align-items: flex-end;
    }
    &.jc_l {
        justify-content: flex-start;
    }
    &.jc_c {
        justify-content: center;
    }
    &.jc_sa {
        justify-content: space-around;
    }
    &.jc_sb {
        justify-content: space-between;
    }
    &.jc_fe {
        justify-content: flex-end;
    }
    &.ty_col {
        flex-direction: column;
    }
    .flex1 {
        flex: 1;
    }
    .shrink0 {
        flex-shrink: 0;
    }
    .self_top {
        align-self: flex-start;
    }
    .self_c {
        align-self: center;
    }
    .self_bot {
        align-self: flex-end;
    }
}

.d_block {
    display: block;
}
.ml_auto {
    margin-left: auto;
}
.mr_auto {
    margin-right: auto;
}
.taL {
    text-align: left;
}
.taC {
    text-align: center;
}
.taR {
    text-align: right;
}

.fwB {
    font-weight: bold;
}
.fwM {
    font-weight: 500;
}
.no_select {
    user-select: none;
}

// .disabled {
//     pointer-events: none;
//     cursor: not-allowed;
//     opacity: 0.7;
//     filter: alpha(opacity=7);
//     -webkit-box-shadow: none;
//     box-shadow: none;
// }

.w100 {
    width: 100%;
}
.lh0 {
    line-height: 0;
}
.lh1 {
    line-height: 1;
}
.hv {
    &:hover {
        background-color: $c_bg;
    }
}

.bd_box {
    border: 1px solid $c_line;
    padding: 24px 32px;
}
.bd_box2 {
    border: 1px solid $c_line;
    padding: 16px 24px;
}